* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    background-color: black;
    color: whitesmoke;
    width: 200px;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias {
    margin-top: 20px;
}

.menu li {
    margin-top: 10px;
}

ul {
    list-style: none;
}

h2 {
    display: inline-block;
    width: 90px;
    height: 30px;
    background-color:brown;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center; 
}

a {
    color: whitesmoke;
    text-decoration: none;
}