*{
    margin: 0px;
    padding: 0px;
}

aside {
    background-color: black;
    color: whitesmoke;
    width: 200px;
    height: 500px;
    padding: 20px;
}

.menu {
    justify-content: center;
    margin-left: 25px;
    margin-top: 10px;
  

}