* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    background-color: black;
    color: whitesmoke;
    width: 200px;
    padding: 20px;
}

.menu {
    margin-left: 25px;
    margin-top: 10px;
}

.categorias {
    margin-top: 20px;
}

.menu li {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

